// Author: ZhuYuan
// Email: 765596409@qq.com
// Created time: 2017/4/17 
// Description：布局

doctype
html
    head
        meta(charset="utf-8")
        title #{title}
        include ./includes/introduce
    body
        include ./includes/header
        block content
