<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>news</title>
    <style type="text/css">
    	header { height: 50px; background: silver; } .content { width: 80%; margin: 0 auto; } #main { float: left; width: 70%; } #side { float: right; width: 30% }
    </style>
</head>

<body>
    <header>
        <div class="content">
            <h1>header</h1>
        </div>
    </header>
    <div id="content" class="content">
        <div id="main">
            <h1><%=title%></h1>
            <time><%=time%></time>
            <strong><%=author%></strong>
            <article>
               <%=article%>
            </article>
        </div>
        <div id="side">side</div>
    </div>
</body>

</html>
